<div class="grid grid-pad">
    <mat-nav-list dense>
        <h3 mat-subheader>Contents</h3>
        <mat-list-item routerLink="introduction">
            <mat-icon mat-list-icon color="primary">home</mat-icon>
            <h4 mat-line>Home</h4>
        </mat-list-item>
        <mat-list-item routerLink="license">
            <mat-icon mat-list-icon color="primary">notifications</mat-icon>
            <h4 mat-line>License</h4>
        </mat-list-item>

        <mat-divider></mat-divider>

        <h3 mat-subheader>Examples ol</h3>
        <mat-list-item *ngFor="let example of examples$ | async" routerLink="/example/{{example.id}}">
            <mat-icon mat-list-icon color="primary">map</mat-icon>
            <h4 mat-line>{{example.name}}</h4>
            <p mat-line> ({{example.fileName}}) </p>
            <p mat-line> {{example.description}} </p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <h3 mat-subheader>Examples ol-angular</h3>
        <mat-list-item routerLink="/ol-angular/reticle">
            <mat-icon mat-list-icon color="primary">map</mat-icon>
            <h4 mat-line>Center fixed image</h4>
            <p mat-line>Image is fixed on center.</p>
        </mat-list-item>
        <mat-list-item routerLink="/ol-angular/zoom">
            <mat-icon mat-list-icon color="primary">map</mat-icon>
            <h4 mat-line>Zoom control</h4>
            <p mat-line>Zoom Control using Angular</p>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon color="primary">build</mat-icon>
            <h4 mat-line>(example-01.html)</h4>
            <p mat-line> Construction now. </p>
        </mat-list-item>
    </mat-nav-list>
</div>