<div id="map" class="map"></div>
<button (click)="rotateLeft()" title="Rotate clockwise">↻</button>
<button (click)="rotateRight()" title="Rotate counterclockwise">↺</button>
<button (click)="panToLondon()">Pan to London</button>
<button (click)="elasticToMoscow()">Elastic to Moscow</button>
<button (click)="bounceToIstanbul()">Bounce to Istanbul</button>
<button (click)="spinToRome()">Spin to Rome</button>
<button (click)="flyToBern()">Fly to Bern</button>
<button (click)="rotateAroundRome()">Rotate around Rome</button>
<button (click)="tour()">Take a tour</button>

<button (click)="render()">render</button>