<mat-toolbar color="primary">
    Openlayers Examples with Angular
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button routerLink="">
        <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" opened (openedChange)="updateMapSize($event)">
        <app-navigation></app-navigation>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>